#logo {

    width:100%;
 height:18vh;
  
  transition: 0.9s;
  background-size: cover;
  transition: all 0.6s;
}
.nav-on-scroll
{
  
  transition: all 1s;
   

}

 .active-a
{
  color:#2ea3f2!important;
  
}
.nav-link
{
  color: #666;
  padding: 10px;
  font-size: 20px;
  font-family: 'Asul',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
}


.nav-on-scroll.compressed
{
  max-height: 20vh;
  
  
}
#logo.compressed
{
  
  height: 16vh;
  width:80%;

 
}
.s1
{
  margin-top: 7%;
}

@media screen and (min-width: 480px) {
  .con{
    background-color: lightgreen;
    margin-top: 15%;
  }
}
.colr
{
  
  text-align: center;
  width:100%;
 
}

/*---------------------------------------section1-----------------*/

.r1
{
 
  padding-top: 50px;

  
}
.b
{
  border-right:1px solid #eee;
  padding-top: 10px;
}
a
{
  font-size: 30px;
  text-decoration: none;
  font-family: 'Della Respira',Georgia,"Times New Roman",serif;
  font-weight: 500;
  padding-bottom: 10px;
  color: #333;
  font-weight: 500;
  line-height: 1em;
}
a:hover
{
  text-decoration: none;
  color: #333;
}
.pt
{
font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
color: #666;

font-size: 14px;
font-weight: 500;
line-height: 1.7em;
padding-bottom: 15px;
font-size: 14px;
margin-bottom: 6px;
}


.pts
{

font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
color: #2ea3f2;

font-size: 14px;
font-weight: 500;
line-height: 1.7em;
padding-bottom: 15px;
font-size: 14px;
margin-bottom: 6px;
}
#s6
{
  width:100%;
  height:auto;
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #222222 !important;;
}
.aa
{
  color: #4e943c;
  font-size: 20px;
      font-family: 'Della Respira',Georgia,"Times New Roman",serif;

}
.pp
{
  color:white;
  font-size: 15px;
}
.pps
{
  color:white;
  font-size: 15px;
  background-size: cover;

}
.ppt
{
  color:white;
  font-size: 20px;
  font-weight: bold;
}
.pp:hover
{
  font-size: 26px;
  text-decoration: none;
  color:white;
}

.s
{
  color:white;
  font-size: 15px;
}
.s2
{
  font-size: 40px;
  color: white;
}
#s7
{
  width:100%;
  padding-bottom: 30px;
  padding-top: 30px;
  
  background-color: black;
}
.i1
{
  width:750px;
  height:auto;
  background-image: url('https://woodlawnservices.com/wp-content/uploads/2019/01/lawn-mowing-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 0px;
  padding-right: 0px;
}
.back
{
  width:100%;
  height:500px;

  background-color: rgba(0,0,0,.5);

}
.i2
{
  width:750px;
  height:auto;
 background-image: url("https://woodlawnservices.com/wp-content/uploads/2019/01/grass-lawn-flower-home-backyard-property-754952.jpg");
 background-size: cover;
  background-repeat: no-repeat;
  padding-left: 0px;
  padding-right: 0px;
}
.i3

{
  background-image: url("https://woodlawnservices.com/wp-content/uploads/2019/01/nature-grass-sharp-plant-technology-field-695111.jpg");
  width:750px;
  height:auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 0px;
  padding-right: 0px;
}
}