#logo {

    width:100%;
 height:18vh;
  
  transition: 0.9s;
  background-size: cover;
  transition: all 0.6s;
}
.nav-on-scroll
{
  
  transition: all 1s;
   

}

 .active-a
{
  color:#2ea3f2!important;
  
}
.nav-link
{
  color: #666;
  padding: 10px;
  font-size: 20px;
  font-family: 'Asul',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
}


.nav-on-scroll.compressed
{
  max-height: 20vh;
  
  
}
#logo.compressed
{
  
  height: 16vh;
  width:80%;

 
}

@media screen and (min-width: 480px) {
  .s1{
    margin-top: 20%;
  }
}
.colr
{
  
  text-align: center;
  width:100%;
 
}
/*------------------------------------------------Background image----------------------------------------*/


.container-fluid
{
  width:100%;

  padding-left: 0px;
  padding-right: 0px;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(pricing.jpg);

  
}
.contain
{
  width:100%;
  padding-top: 20%;
  padding-bottom: 20%;
  background-color: rgba(0,0,0,.5);
}
h1
{
    font-family: 'Della Respira',Georgia,"Times New Roman",serif;

    font-size: 80px;
    text-align: center;
    color: #fff !important;
    padding-bottom: 10px;
    color: #333;
    font-weight: 500;
    line-height: 1em;

}

/*-------------------------------------section2-------------------------------------*/

#s2
{
  width:100%;
  height: auto;
  background-color: #fff;
}
.c1
{
  padding-top: 50px;
  padding-bottom: 50px;
}
h2
{
  font-size: 40px;
  text-align: right;
  font-family: 'Della Respira',Georgia,"Times New Roman",serif;
  padding-bottom: 10px;
  color: #333;
  font-weight: 500;
  line-height: 1em;
}
h3
{
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    color: #666;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em;

}
h4
{

    font-family: 'Della Respira',Georgia,"Times New Roman",serif;

    font-size: 30px;
    text-align: center;
    color: #fff !important;
    padding-bottom: 10px;
    color: #333;
    font-weight: 500;
    line-height: 1em;
}
/* ---------------------------------------------footer--------------------------------------------------*/
#s4
{
  width:100%;
  height:auto;
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #222222 !important;;
}
.aa
{
  color: #4e943c;
  font-size: 20px;
      font-family: 'Della Respira',Georgia,"Times New Roman",serif;

}
.pp
{
  color:white;
  font-size: 15px;
}
.pps
{
  color:white;
  font-size: 20px;
  

}
.ppt
{
  color:white;
  font-size: 20px;
  font-weight: bold;
}
.pp:hover
{
  font-size: 26px;
  text-decoration: none;
  color:white;
}

.s
{
  color:white;
  font-size: 15px;
}
.s2
{
  font-size: 40px;
  color: white;
}
#s5
{
  width:100%;
  
  
  background-color: black;
}

#s3
{
  background-color:#4e943c !important;
}

.imgs
{
  width:100%;
  background-size: 100% 50px;
top: 0;
height: 50px;
z-index: 10;
}

/*--------------------------------button----------------------*/
.bt
{

  background-color:transparent;
  border-color: #fff;
  color:#fff;
  font-size: 20px;
font-weight: 500;
  
  padding: 10px;
  width:200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.bt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bt:hover span {
  padding-right: 20px;
}

.bt:hover span:after {
  opacity: 1;
  right: 0;
}